.wbg{
  background: url("https://w0.peakpx.com/wallpaper/82/984/HD-wallpaper-beautiful-nature-nature-beautiful-scenery-other.jpg");
  background-repeat: no-repeat;
    background-size: 100% 100%; 
  height: 100vh;


  
/* width:100vh; */
display:flex;
align-items:  center;
 flex-direction: column; 
justify-content: center;
}

.weatherResultBox
{
  margin: auto;
  height: 300px;
  width: 500px;
}
.iconweather
{
  margin-top:2rem;
  width:100px ;
  height: 100px; ;
}
.wcity{
  font-size:35px;
}
.wtemp
{
  font-size: 55px;
  font-weight: 700px;
}

.shadow{
  background-color: rgb(209, 7, 101);
}
 .l{
  background-color: darkcyan;
 }